html {
    font-family: 'Mukta', sans-serif;
}

body {
    margin: 0
}

#brand {
    height: 30px;
}

#item {
    margin-right: 50px;
}

.Navbar {
    height: 70px;
    display: flex;
    flex-direction: row;
}

/* Add a black background color to the top navigation */
.topnav {
    padding-left: 5%;
    width: 80%;
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: grey;
    /* text-align: center; */
    margin-top: 20px;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: white;
}

/* Add a color to the active/current link */
.topnav-right a.active {
    /* background-color: #4CAF50; */
    color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

.white {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: white;
}

.white a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}