html {
    font-family: 'Mukta', sans-serif;
}

body {
    margin: 0
}

.mainbody {
    padding-top: 20px;
    background-image: url("../img/battle_full.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}

.mainbody::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 1));
    /* opacity: 0.9; */
}





#brand {
    height: 30px;
}

#item {
    margin-right: 50px;
}

.Navbar {
    height: 70px;
    display: flex;
    flex-direction: row;
}

/* Add a black background color to the top navigation */
.topnav {
    padding-left: 5%;
    width: 80%;
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: grey;
    /* text-align: center; */
    margin-top: 20px;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: white;
}

/* Add a color to the active/current link */
.topnav-right a.active {
    /* background-color: #4CAF50; */
    color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

.white {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    background-color: white;
}

.white a {
    text-decoration: none;
    font-size: 25px;
    color: black;
}